body {
	font: 14px sans-serif;
}

.content {
	display: none;
}

.content.active {
	display: block;
}

.content-block {
	margin-top: 10px;
}

.content-block > textarea {
	width: 500px;
	height: 120px;
}

#logo {
	height: 24px;
	margin-right: 2px;
}

#tabs {
	display: flex;
	background-color: white;
	border-bottom: 1px solid #ccc;
	height: 28px;
}

.tab {
	margin: 0 2px -1px 2px;
	padding: 4px 4px 0 4px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	font-size: 110%;
	cursor: pointer;
}

.tab.active {
	background-color: #fff;
	border-bottom-color: #fff;
}
